<!DOCTYPE html>
<html>
  <head>
    <title>記事削除 - 完了ページ</title>
  </head>

  <body>
    <h1>記事削除 - 完了ページ</h1>
    <h2>正常に削除されました</h2>
    <h3><%= link_to "記事一覧ページに戻る", articles_path %></h3>
  </body>
</html>